* {
  margin: 0;
  padding: 0;
  font-family: 'Martel Sans', sans-serif;
}

.date {
  display: block;
  width: 30%;
  padding: 5px;
  margin: auto;
  text-align: center;
  border: solid 2px red;
}

.counter{
  display: block;
  text-align: center;
  margin: 20px;
}

.gauge {
  display: inline-block;
  width: 50%;
  border: solid 2px red;
  margin: 30px;
}

.user-input {
  border: solid 2px red;
  display: inline-block;
  text-align: center;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
}

h2{
  font-size: 20px;

}

p {
  font-size: 80px;
  font-weight: bold;
  color: blue;
}

Button {
  font-size: 25px;
  font-weight: bold;
  padding: 0px 20px;
  margin: 5px 0px;
}
